TOKEN=""            # Token de authenticacion del bot || Authentication bot token
GUILD=""            # El id del discord donde se cargaran los slash commands, en otro caso de dejar vacio, se cargaran globalmente || The guild id where the bot is going to summit the slash commands, or leave it blank for a global load
BOT_OWNERS=""       # Lista de ids de los owner/s del bot, separadas por una , || List of the owners ids of the bot, separated with a comma (,)